<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Template</title>
<link href="css/main.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="js/fsmenu.js"></script>
<link rel="stylesheet" type="text/css" id="listmenu-h"  href="css/listmenu_h.css" title="Horizontal 'Earth'" />
<link rel="stylesheet" type="text/css" id="fsmenu-fallback"  href="css/listmenu_fallback.css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/jquery.innerfade.js"></script>
<script type="text/javascript">
$(document).ready(
	function(){
		$('ul#featured').innerfade({
			speed: 1000,
			timeout: 5000,
			type: 'sequence',
			containerheight: '311px'
		});
	});
</script>
<script type="text/javascript" src="js/dropdowncontent.js"> </script>
</head>
<body>
<div id="container">
  <!-- header begin-->
    <div id="header">
         <h1><a href="#"></a></h1>
         <ul class="menulist" id="listMenuRoot">
            <li><a href="#">News &amp; Events</a></li>
            <li><a href="#">Promotions</a></li>
            <li><a href="#">Accommodation</a>
                <ul>
                    <li class="first"><a href="#">1 &amp; 2 bed villas</a></li>
                    <li><a href="#">3 bed villas</a></li>
                    <li><a href="#">4 bed villas</a></li>
                    <li><a href="#">5 bed villas</a></li>
                </ul>
            </li>
            <li><a href="#">Sentosa Clubhouse</a></li>
            <li><a href="#">Gallery </a></li>
            <li><a href="#">Conference &amp; Weddings</a></li>
            <li><a href="#">Location</a></li>
            <li class="last"><a href="#">Contact</a>
                <ul>
                    <li class="first"><a href="#">1 &amp; 2 bed villas</a></li>
                    <li><a href="#">3 bed villas</a></li>
                    <li><a href="#">4 bed villas</a></li>
                    <li><a href="#">5 bed villas</a></li>
                </ul>            
            </li>
         </ul>
    </div>
    <!--header end-->
   <!-- content begin-->
    <div id="content">
         <div class="content_top">
              <div class="contenttop_left">
                   <ul id="featured">
                        <li><img src="images/pic_featured1.jpg" alt="" width="665" height="311" />
                            <div class="info">
                                <a class="click" href="#">Click here for details</a>
                                <p><img src="images/pic_star.png" alt="" /><img src="images/pic_star.png" alt="" /><img src="images/pic_star.png" alt="" />Special last minute discounts for all february bookings...</p>
                            </div>
                        </li>
                        <li><img src="images/pic_featured2.jpg" alt="" width="665" height="311" />
                            <div class="info">
                                <a class="click" href="#">Click here for details</a>
                                <p><img src="images/pic_star.png" alt="" /><img src="images/pic_star.png" alt="" /><img src="images/pic_star.png" alt="" />Special last minute discounts for all...</p>
                            </div>
                        </li>
                        <li><img src="images/pic_featured3.jpg" alt="" width="665" height="311" />
                            <div class="info">
                                <a class="click" href="#">Click here for details</a>
                                <p><img src="images/pic_star.png" alt="" /><img src="images/pic_star.png" alt="" /><img src="images/pic_star.png" alt="" />Special last minute discounts ...</p>
                            </div>
                        </li>
                        <li><img src="images/pic_featured4.jpg" alt="" width="665" height="311" />
                            <div class="info">
                                <a class="click" href="#">Click here for details</a>
                                <p><img src="images/pic_star.png" alt="" /><img src="images/pic_star.png" alt="" /><img src="images/pic_star.png" alt="" />Special last minute discounts for all february ...</p>
                            </div>
                        </li>
                   </ul>
                   <div class="textbox">
                        <div class="textbox_left">
                             <h3>A World Class Contemporary Resort</h3>
                             <p>Enter our world class contemporary resort in Bali and be attended to by a team of attentive yet discreet staff, who are committed to providing exceptional service.</p>
                             <h3>A WARM BALI WELCOME</h3>
                            <p class="paddingbot">The quintessential island charm is something for which the people of Bali are renowned; they pride themselves on their welcoming hospitality.</p>
                        </div>
                        <div class="textbox_right">
                             <h3>PRIVATE LUXURY</h3>
                             <p>Sentosa Private Villa and Spa Bali Resort is an exclusive ensemble of 38 luxurious villas in Bali; all set in idyllic landscaped gardens with private pools.</p>
                             <p class="paddingbot">The lavishly adorned villas with their chic interiors will astonish discerning leisure and business travellers alike, seeking the perfect getaway holiday accommodations in Bali resorts. The villas provide guests with a sense of privacy and ultimate luxury; far superior to a hotel room environment.</p>
                        </div>
                   </div>
              </div>
              <div class="contenttop_right">
                   <div class="book">
                        <h1>BOOK ONLINE</h1>
                        <form action="#">
                            <p><label>Arrival:</label>
                                <select>
                                     <option>11</option>
                                </select>
                                <select class="long">
                                     <option>Feb</option>
                                </select>
                                <select class="longer">
                                     <option>2010</option>
                                </select><img src="images/icon_calender.png" alt="" width="16" height="16" />  </p>
                            <p><label>Depart:</label>
                                <select>
                                     <option>13</option>
                                </select>
                                <select class="long">
                                     <option>Feb</option>
                                </select>
                                <select class="longer">
                                     <option>2010</option>
                                </select><img src="images/icon_calender.png" alt="" width="16" height="16" />  </p>
                            <p><label>Adults:</label>
                                <select class="short">
                                     <option>2</option>
                                </select>
                                <label class="short">Children:</label>
                                <select class="short">
                                     <option>0</option>
                                </select></p>
                            <p><input type="submit" value="Check Availabilty / Book Now"  class="btn"/></p>
                       </form>
                   </div>
                   <div class="item">
                        <div class="item_inner">
                             <h1>CONTACT US</h1>
                             <div class="icons">
                                  <a href="#" id="emaillink" rel="emailcontent"><img src="images/icon_email.png" alt="" width="27" height="26" /></a>
                                  <a href="#" id="phonelink" rel="phonecontent"><img src="images/icon_phone.png" alt="" width="27" height="26" /></a>
                                  <a href="#" id="skypelink" rel="skypecontent"><img src="images/icon_skype.png" alt="" width="27" height="26" /></a>
                             </div>
                        </div>
                   </div>
                  <div class="item menu_last">
                        <div class="item_inner"><img src="images/pic_arrowright.png" alt="" width="22" height="17" class="img_right" />
                             <h2><a href="#">LAST MINUTE OFFERS * * *</a></h2>
                       </div>
                   </div>                   
                  <div class="item menu_check">
                        <div class="item_inner"><img src="images/pic_arrowright.png" alt="" width="22" height="17" class="img_right" />
                             <h2><a href="#">CHECK RATES</a></h2>
                        </div>
                   </div>      
                  <div class="item getform">
                         <form action="#">
                              <p>
                                  <input type="text" value="Get Special Offers by E-Mail..." onblur="if(this.value=='') this.value='Get Special Offers by E-Mail...';" onfocus="if(this.value=='Get Special Offers by E-Mail...') this.value='';" class="int_text" />
                                  <input type="submit" class="int_btn" value=" " />
                             </p>
                         </form>
                   </div>
                   <div class="formbox">
                        <form action="#">
                           <p><select><option>Select Language</option></select></p>
                        </form>
                   </div>
              </div>
         </div>
         <div class="content_bot">
              <div class="box promotions">                   
                   <h3>SEE LATEST PROMOTIONS</h3>
                   <img src="images/pic_box1.jpg" alt="" width="215" height="151" />
                  <p>Sentosa is always offering our guests great promotion packages for our luxurious villas.</p>
                   <p><a href="#">See our current promotions here...</a></p>
             </div>
              <div class="box chinese">
                   <h3>CHINESE NEW YEAR PARTY</h3>
                   <img src="images/pic_box2.jpg" alt="" width="215" height="151" />
                  <p>Sentosa is always offering our guests great promotion packages for our luxurious villas.</p>
                   <p><a href="#">See our current promotions here...</a></p>
              </div>
              <div class="box spa">
                   <h3>SPA PACKAGES</h3>
                   <img src="images/pic_box3.jpg" alt="" width="215" height="151" />
                  <p>Sentosa is always offering our guests great promotion packages for our luxurious villas.</p>
                   <p><a href="#">See our current promotions here...</a></p>
              </div>
              <div class="box valentines">
                   <h3>VALENTINES @ BLOSSOM</h3>
                   <img src="images/pic_box4.jpg" alt="" width="215" height="151" />
                  <p>Sentosa is always offering our guests great promotion packages for our luxurious villas.</p>
                   <p><a href="#">See our current promotions here...</a></p>
              </div>
         </div>
    </div>
   <!-- content end-->
   <!--footer begin-->
    <div id="footer">
         <p><a href="#"><img src="images/icon_rss.png" alt="" /></a><a href="#"><img src="images/icon_f.png" alt="" /></a><a href="#"><img src="images/icon_t.png" alt=""  /></a><img src="images/pic_arrowleft.png" alt=""  />Connect with us</p>
         <ul>
            <li><a href="#">Terms of use  </a></li>
            <li>  |  </li>
            <li><a href="#">Privacy Statement</a></li>
            <li>  |  </li>
            <li><a href="#"> Contact</a></li>
        </ul>
    </div>
   <!-- footer end-->
</div>
<!--popup begin-->
<div id="emailcontent" class="subpage" style="visibility: hidden; text-align:left; position:absolute; width:541px; z-index:99999;">
<div class="subpage_wrapper" style="width:242px; padding-left:84px ">
    <div class="subpage_top"><p><img src="images/pic_arrow.png" alt="" width="17" height="8" style="margin-left:136px;" /></p></div>
    <div class="subpage_inner">
          <p>Reservations:<br />P: +62 361 730 540 | F: +62 361 732 724</p>
          <p>General Enquiries:<br />P: +62 361 730 333 | F: +62 361 737 111</p>
    </div>
 </div>
 </div>                                                           
<script type="text/javascript">
//Call dropdowncontent.init("anchorID", "positionString", glideduration, "revealBehavior") at the end of the page:
dropdowncontent.init("emaillink", "right-bottom", 1, 'mouseover')
</script>
<div id="phonecontent" class="subpage" style="visibility: hidden; text-align:left; position:absolute; width: 541px; z-index:99999;">
<div class="subpage_wrapper" style="width:242px; padding-left:42px ">
    <div class="subpage_top"><p><img src="images/pic_arrow.png" alt="" width="17" height="8" style="margin-left:180px;" /></p></div>
    <div class="subpage_inner">
          <p>phonecontent</p>
          <p>Reservations:<br />P: +62 361 730 540 | F: +62 361 732 724</p>
          <p>General Enquiries:<br />P: +62 361 730 333 | F: +62 361 737 111</p>
    </div>
 </div>
 </div>  
                             
<script type="text/javascript">
//Call dropdowncontent.init("anchorID", "positionString", glideduration, "revealBehavior") at the end of the page:
dropdowncontent.init("phonelink", "right-bottom", 1, 'mouseover')
</script>
<div id="skypecontent" class="subpage" style="visibility: hidden; text-align:left; position:absolute; width: 242px; z-index:99999;">
    <div class="subpage_top"><p><img src="images/pic_arrow.png" alt="" width="17" height="8" style="margin-left:220px;" /></p></div>
    <div class="subpage_inner">
          <p>skypecontent</p>
          <p>Reservations:<br />P: +62 361 730 540 | F: +62 361 732 724</p>
          <p>General Enquiries:<br />P: +62 361 730 333 | F: +62 361 737 111</p>
    </div>
 </div>  
                             
<script type="text/javascript">
//Call dropdowncontent.init("anchorID", "positionString", glideduration, "revealBehavior") at the end of the page:
dropdowncontent.init("skypelink", "right-bottom", 1, 'mouseover')
</script>
<!--popup end-->
</body>
</html>
