* {
	font-family: Verdana;
	color: #333333;
	font-size: 11px; 
	white-space: normal;
}

body {
	background: #999999 url('../../assets/images/bg_body.gif') repeat-x;
	/*text-align: center;*/
}

#header  {
	margin-bottom: 15px;
	height: 100px;
	margin-top: 10px;
	text-align:center;
}

table.bodyTable {
	border: 1px solid #2D3F67;
	margin: 0px 10px 0px 10px;
	padding: 0px 0px 0px 0px;
	width: 800px;
	/*background-color=#FFF4E6;*/
}

img.gloryShot {
	border: 0 none;
	margin-bottom: 15px;
}

h1 {
	font-size: 1.6em;
	letter-spacing: -1px;
	margin-bottom: 15px;

}

div.contentText {
	margin-bottom: 15px;

}

td.contentCell {
	border-top: solid 1px #FFFFFF;
}

.whiteRight {
	border-right: solid 1px #FFFFFF;	
}

.content_image {
	float: right;
	margin: 0px 5px 15px 15px;
}

a, a:visited {
	text-decoration: none;
}
a:hover {
	color: #993333;
	padding-bottom: 2px;
	border-bottom: dotted 1px yellow;
}
